/* Auth form styles */
.AuthInput{
  height: 3rem;
  padding: 8px;
  color: var(--textColor);
}

.AuthInput::placeholder {
  color: var(--grayText);
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #fff;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 25px;  /* curved edges */
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s ease;
}

.google-btn:hover {
  background: #f7f7f7;
}

.google-icon {
  width: 20px;
  height: 20px;
}
